Data Types and Structures Questions:-

1. What are data structures, and why are they important?
    - Data structures are ways to store and organize data (like lists, tuples, sets, dictionaries).
    They are important because they help manage data efficiently and make programs faster and easier to understand.

2. Explain the difference between mutable and immutable data types with examples?
   - Mutable: Can be changed after creation
    IMMutable: Can't be changed after creation

3. What are the main differences between lists and tuples in Python?
    - Lists [] are mutable ,slower, and can change value while tuple() is immutable , faster and value can't be changed

4. Describe how dictionaries store data?
    - Dictionaries store data as key-value pairs using a hash table internally.
For ex:- student = {"name": "John", "age": 20}
Here, "name" is the key, and "John" is the value.

5. Why might you use a set instead of a list in Python?
    - Set remove duplicate values automatically that's why we use set

6. What is a string in Python, and how is it different from a list?
   - String is a sequence of charaters and strings are immutable

7. How do tuples ensure data integrity in Python
   - Because tuples are immutable, their values cannot be changed-this prevents accidental modification of important data.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that maps keys to values using a hash function.
  Python dictionaries use hash tables internally for fast access.

9. Can lists contain different data types in Python?
   - Yes can contain different data types

10. Explain why strings are immutable in Python?
    - Because Python stores strings in memory in a way that reuses them for efficiency and safety. Changing a string would create a new one instead of modifying it.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionary are fastest way to find data and fast lookups by keys

12. Describe a scenario where using a tuple would be preferable over a list?
   - 1. When we want to data value is fixed
      2. When we want to remove duplicate values

13. How do sets handle duplicate values in Python
    - Sets ignored duplicate value automatecally

14. How does the "in" keyword work differently for lists and dictionaries?
    - In list checks values and in dicts checks keys

15. Can you modify the elements of a tuple? Explain why or why not?
    - No, tuples are immutable once created their values cannot change.

16. What is a nested dictionary, and give an example of its use case?
    - A dictionary inside another dictionary.

17. Describe the time complexity of accessing elements in a dictionary?
    - O(1) on average very fast, because of hash table lookup.
18. In what situations are lists preferred over dictionaries?
    - When order matters and if you just need simple collections (like names, numbers) without saving key-value mapping

19. Why are dictionaries considered unordered, and how does that affect data retrieval
    - Dict are unordered but you can access any value by keys

20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - List data can access by indexing and list can access by key

In [1]:
# 1. Write a code to create a string with your name and print it?
a ="pranesh"
print(a)

pranesh

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
a = "hello world"
print(len(a))

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
print(a[0:3])

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase
a = "hello"
print(a.upper())

In [ ]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
print(a.replace("apple","orange"))

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
a = [1, 2, 3, 4, 5]
print(a)

In [ ]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
a = [1, 2, 3, 4]
a.append(10)
print(a)

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a = [1, 2, 3, 4, 5]
a.pop(3)
print(a)

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a = ['a', 'b', 'c', 'd']
print(a[1])

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
a = [10, 20, 30, 40, 50]
print(a[::-1])

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
a = (1,2,2,3,4)
print(a)

In [ ]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a = ('red', 'green', 'blue', 'yellow')
print(a[-2])

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a = (10, 20, 5, 15)
print(min(a))

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a = ('dog', 'cat', 'rabbit')
print(a.index('cat'))

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a = ('apple', 'banana', 'mango')
print("kiwi" in a)

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a = {'a','b','c'}
print(a)

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a = {1, 2, 3, 4}
a.remove(4)
print(a)

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a1 = {1, 2, 3}
a2 = {3, 4, 5}
print(a1.union(a2))

In [2]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a1 = {1, 2, 3}
a2 = {2, 3, 4}
print(a1.intersection(a2))

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a1 = {"name": "John", "age": 25, "city": "New York"}
print(a1)

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a1 = {'name': 'John', 'age': 25}
a1['country'] = 'USA'
print(a1)

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a1 = {'name': 'John', 'age': 25}
print(a1['name'])

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1.pop('age')
print(d1)

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d1 = {'name': 'Alice', 'city': 'Paris'}
print('city' in d1)

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
l1 = [1, 2, 3]
t1 = ('a', 'b', 'c')
d1 = {'key1': 'value1', 'key2': 'value2'}
print(l1)
print(t1)
print(d1)

In [3]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
a = (random.randint(1,100))

for  i in range (5):
    print(a)

22
22
22
22
22

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
a = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(a[3])

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
# 30. Write a code to convert a list of strings into a set.
a = [1,2,3,4,5]
b = set(a)
print(b)